_libgcc_mutex
_openmp_mutex
absl-py
aiofiles
annotated-types
anyio
av
beautifulsoup4
bzip2
ca-certificates
cchardet
certifi
charset-normalizer
click
contourpy
cutie
cycler
cython
darkdetect
easydict
einops
fastapi
ffmpy
fonttools
gdown
gitdb
gitpython
gradio
gradio-client
grpcio
h11
h5py
hickle
httpcore
httpx
huggingface-hub
idna
kiwisolver
ld_impl_linux-64
libffi
libgcc-ng
libgomp
libstdcxx-ng
libuuid
markdown
markdown-it-py
markupsafe
matplotlib
mdurl
ncurses
netifaces
opencv-python
openssl
orjson
pandas
pexpect
pip
protobuf
ptyprocess
pycocotools
pydantic
pydantic-core
pydub
pygments
pyparsing
pyqtdarktheme
pyside6
pyside6-addons
pyside6-essentials
pysocks
python
python-multipart
pytz
pyyaml
readline
requests
rich
ruff
safehttpx
scipy
semantic-version
setuptools
shellingham
shiboken6
six
smmap
sniffio
soupsieve
sqlite
starlette
tensorboard
tensorboard-data-server
thinplate
tk
tomlkit
typer
tzdata
urllib3
uvicorn
websockets
werkzeug
wheel
xz
zlib
